<%= render "shared/navbar2" %>
<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="d-flex justify-content-center bg-white rounded p-5 shadow">
      <%= form_with model: @rotum, url: { action: "create" }, class:"row g-1 w-10", local: false do |form| %>
        <%= form.label :origem %>
        <%= form.text_field :origem, class:"form-control form-control-sm col-auto" %>
        <div><%= form.label :destino %></div>
        <%= form.text_field :destino, class:"form-control form-control-sm col-auto" %>
        <div><%= form.label :especialidade %></div>
        <%= form.text_field :especialidade, class:"form-control form-control-sm col-auto" %>
        <div><%= form.label :capacidade %></div>
        <%= form.text_field :capacidade, class:"form-control form-control-sm col-auto" %>
        <div><%= form.label :hr_partida %></div>
        <%= form.text_field :hr_partida, class:"form-control form-control-sm col-auto" %>
        <div><%= form.submit "Adicionar", class: "btn btn-primary mt-2 text-center" %></div>
      <% end %>
      </div>

      <%#= simple_form_for :rotum, url: '/rotums', validate: true do |f| %>
          <%#= f.input :origem, label: 'Origem' %>
          <%#= f.input :destino, label: 'Destino' %>
          <%#= f.input :especialidade, label: 'Especialidade' %>
          <%#= f.input :capacidade, label: 'Capacidade' %>
          <%#= f.input :hr_partida, label: 'Horário de partida' %>
          <%#= f.submit "Criar",  class: "btn btn-primary" %>
      <%# end %>
      <div><h3><%#= @rotums.origem %></h3></div>
      <div><%#= link_to "Show", rotum_path(@rotums.id)  %></div>
    </div>
