<%= render "shared/navbar2" %>
<%= render "shared/flashes" %>
<div class="container mt-3">
  <div class="card shadow border-primary" style="--bs-border-opacity: .2;">
    <div class="card-body callout callout-primary">
      <h5 class="card-title mt-3"><h2>Olá, Boa tarde</h2></h5>
      <p class="card-text mt-5">
        <%= link_to "Cadastrar Veículo", new_vehicle_path, class:"btn btn-success" %>
        <%= link_to "Criar usuário", new_sign_up_path, class:"btn btn-success" %>
        <%= link_to "Criar Rota", new_rotum_path, class:"btn btn-success" %>
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
      </p>
    </div>
  </div>
  <!-- Card Dashboard 1 -->
  <div class="row">
    <!-- Initial Row -->
    <div class="col-md-6 col-xl-4 mt-4">
      <div class="card mb-3 widget-content bg-midnight-bloom">
        <div class="widget-content-wrapper text-white">
          <div class="widget-content-left">
            <div class="widget-heading">Veículos</div>
            <div class="widget-subheading">Veículos Cadastrados</div>
          </div>
          <div class="widget-content-right">
            <div class="widget-numbers text-white"><span><%= Vehicle.all.count %></span></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-4 mt-4">
      <div class="card mb-3 widget-content bg-arielle-smile">
        <div class="widget-content-wrapper text-white">
          <div class="widget-content-left">
            <div class="widget-heading">Veículos</div>
            <div class="widget-subheading">Disponíveis</div>
          </div>
          <div class="widget-content-right">
            <div class="widget-numbers text-white"><span><%= Vehicle.where(status:"Liberado").count %></span></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-4 mt-4">
      <div class="card mb-3 widget-content bg-grow-early">
        <div class="widget-content-wrapper text-white">
          <div class="widget-content-left">
            <div class="widget-heading">Veículos</div>
            <div class="widget-subheading">Em Manutencão</div>
          </div>
          <div class="widget-content-right">
            <div class="widget-numbers text-white"><span><%= Vehicle.where(status:"Em Manutencão").count %></span></div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- Finaly Row -->
  <!-- Init First Table -->
  <div class="row">
    <div class="col-md-12">
      <div class="main-card mb-3 card">
        <div class="card-header">Usuários Ativos
          <div class="btn-actions-pane-right">
          </div>
        </div>
        <div class="table-responsive">
          <table
            class="align-middle mb-0 table table-borderless table-striped table-hover">
            <thead>
              <tr>
                <th class="text-center">#</th>
                <th>Email</th>
                <th class="text-center">Cargo</th>
              </tr>
            </thead>
            <tbody>
             <% @users.each do |u| %>
              <tr>
                <td class="text-center text-muted"><%= u.id %></td>
                <td>
                  <div class="widget-content p-0">
                    <div class="widget-content-wrapper">
                      <div class="widget-content-left mr-3">
                        <div class="widget-content-left">
                          <img width="40" class="rounded-circle" src="assets/images/avatars/4.jpg" alt="">
                        </div>
                      </div>
                      <div class="widget-content-left flex2">
                        <div class="widget-heading"><%= u.email %></div>
                        <div class="widget-subheading opacity-7"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <% if u.role == true %>
                <% @cargo = "Admin" %>
                <% else %>
                <% @cargo = "Motorista" %>
                <% end %>
                <td class="text-center">
                  <div class="badge badge-warning"><%= @cargo %></div>
                </td>
                <td class="text-center">
                  <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger">
                  <%= link_to "", user_path(u), data: { turbo_method: :delete, turbo_confirm: "Tem certeza?" }, class: "pe-7s-trash btn-icon-wrapper" %></button>
                  </button>
          <button class="btn-wide btn btn-success">Edit</button>
                </td>
              </tr>
              <% end %>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-block text-center card-footer">
        </div>
      </div>
    </div>
  </div>
  <!-- Finaly First Table -->
