<%= render "shared/navbar2" %>
<%= render "shared/flashes" %>

<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
     <% if @vehicle.errors.any? %>
      <h3>The following errors prevented the article from being saved:</h3>
      <ul>
        <% @vehicle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
      <div class="d-flex justify-content-center bg-white rounded p-5 shadow">
      <%= form_with model: @vehicle, local: true  do |form| %>
        <%= form.label :modelo %>
        <%= form.text_field :modelo, class:"form-control form-control-sm col-auto" %>
        <%# @vehicle.errors.full_messages_for(:modelo).each do |message| %>
        <p class="text-danger"><%#= message %></p>
        <%# end %>
        <div><%= form.label :ano %></div>
        <%= form.text_field :ano, class:"form-control form-control-sm col-auto" %>
        <div><%= form.label :placa %></div>
        <%= form.text_field :placa, class:"form-control form-control-sm col-auto" %>
        <div><%= form.label :capacidade %></div>
        <%= form.text_field :capacidade, class:"form-control form-control-sm col-auto" %>
        <div><%= form.label :status %></div>
        <%= form.select :status,["Liberado", "Em Manutencão", "Defeito"], class:"form-control form-control-sm col-auto" %>
        <div><%= form.label :montadora %></div>
        <%= form.select :montadora,["Pegeout", "Marcopolo", "Fiat", "GM", "Citroen", "Volkswagen"], class:"form-control mb-3" %>
        <div><%= form.submit "Adicionar", class: "btn btn-primary mt-2 text-center" %></div>
      <% end %>


      </div>
    </div>



<%#= simple_form_for @vehicle, class:"row g-1 w-10", validate: true do |f| %>
          <%#= f.input :modelo, label: 'Origem' %>
          <%#= f.input :ano, label: 'Destino' %>
          <%#= f.input :placa, label: 'Especialidade' %>
          <%#= f.input :capacidade, label: 'Capacidade' %>
          <%#= f.input :status, label: 'Horário de partida' %>
          <%#= f.submit "Criar",  class: "btn btn-primary" %>
      <%# end %>
